﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="shortcut icon" href="images/diy2.jpg">

	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="libs/bootstrap/css/bootstrap-theme.css">
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="styles/textAngular.css">
	<link rel="stylesheet" href="libs/font-awesome-4.5.0/css/font-awesome.min.css">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	
	<title>Do it yourself</title>
</head>
<body ng-app="app" ng-controller="AppController" id="body">
	<div id="wrapper" class="visibility-hidden" ng-class="{visible: true}">
		<div id="main-content">
			<div class="row row-margin-ignore header-background margin-bottom-50">
				<div id="main-header">
					<ul class="main-header-li list-style-none">
						<li><a href="/#/">Home</a></li>
						<li><a href="/#/howto">How to...</a></li>
						<li ng-if="isLoggedIn"><a href="/#/share">Share your experience</a></li>
						<li ng-if="isLoggedIn"><a href="/#/contactus">Contact us</a></li>
						<ul class="float-right main-header-li">
							<li ng-if="isAdmin">
								<div class="dropdown">
								    <button class="btn btn-primary dropdown-toggle" id="custom-admin-button" type="button" data-toggle="dropdown">
								    	Admin panel
								    	<span class="caret"></span>
								    </button>
								    <ul class="dropdown-menu float-none-li">
								      <li><a href="/#/article/create">Create article</a></li>
								      <li><a href="/#/category">Category management</a></li>
								      <li><a href="/#/users">User management</a></li>
								    </ul>
								  </div>
							</li>
							<li ng-if="!isLoggedIn"><a href="/#/register">Register</a></li>
							<li ng-if="!isLoggedIn"><a href="/#/login">Log in</a></li>
							<li ng-if="isLoggedIn"><a href="/#/" ng-click="logout()">Logout</a></li>
							<li ng-if="isLoggedIn"><a href="/#/" ng-bind="username"></a></li>
						</ul>
					</ul>
				</div>
			</div>
			
			<div class="min-height-1000">
				<div id="view" ng-view=""></div>
			</div>
		</div>

		<div id="footer">
			<div class="col-xs-3 margin-top-20 max-height-300">
				<div class="fb-like"
					data-href="https://www.facebook.com/IShareYouLearnWeWin/" 
					data-layout="standard" data-action="like" 
					data-show-faces="false" data-share="true">
				</div>
				<div class="margin-top-20">
					<div class="display-inline-block margin-right-10">
						<a href="https://www.facebook.com/IShareYouLearnWeWin/" target="_blank">
						<div class="size-25">
							<div id="facebook-sprite"></div>
						</div>
						</a>
					</div>
				</div>
			</div>

			<div class="col-xs-9 text-align-center margin-top-20" style="height:350px">
				<!-- Word Cloud -->
			</div>

			<div class="col-xs-12 text-align-center">
				<p style="font-weight:bold" class="color-white">© 2016 - <span id="currentYear"></span> by Ivan and Trifon. No Rights Reserved</p>
			</div>

		</div>
	</div>
	<div id="fb-root"></div>
	
	<script src="libs/angular-1.4.8/angular.js"></script>
	<script src="libs/angular-1.4.8/angular-route.js"></script>
	<script src="libs/angular-1.4.8/angular-resource.js"></script>
	<script src="libs/angular-1.4.8/angular-animate.js"></script>

	<script src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script src="libs/bootstrap/js/bootstrap.js"></script>

	<script src="libs/noty/jquery.noty.packaged.min.js"></script>
	<script src="libs/lodash/lodash.min.js"></script>
	<script src="libs/angular-utils-pagination/dirPagination.js"></script>

	<script src="libs/textAngular-1.4.6/dist/textAngular.min.js"></script>
	<script src='libs/textAngular-1.4.6/dist/textAngular-rangy.min.js'></script>
	<script src='libs/textAngular-1.4.6/dist/textAngular-sanitize.min.js'></script>

	<script src="libs/highcharts/highcharts.js"></script>

	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/AppController.js"></script>
	<script src="scripts/controllers/HomeController.js"></script>
	<script src="scripts/controllers/LoginController.js"></script>
	<script src="scripts/controllers/RegisterController.js"></script>
	<script src="scripts/controllers/HowToController.js"></script>
	<script src="scripts/controllers/ShareController.js"></script>
	<script src="scripts/controllers/ContactUsController.js"></script>
	<script src="scripts/controllers/ArticleController.js"></script>
	<script src="scripts/controllers/UserController.js"></script>
	<script src="scripts/controllers/CategoryController.js"></script>

	<script src="scripts/directives/loader.js"></script>
	<script src="scripts/directives/fileread.js"></script>
	<script src="scripts/directives/highchartsElement.js"></script>

	<script src="scripts/filters/tagFilter.js"></script>

	<script src="scripts/services/authenticationService.js"></script>
	<script src="scripts/services/userService.js"></script>
	<script src="scripts/services/queryService.js"></script>
	<script src="scripts/services/articleService.js"></script>
	<script src="scripts/services/notyService.js"></script>
	<script src="scripts/services/mailService.js"></script>
	<script src="scripts/services/categoryService.js"></script>
	<script src="scripts/services/tagService.js"></script>
	
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		var yearSpan = document.getElementById('currentYear');
		var curentYear = new Date().getFullYear();
		yearSpan.innerHTML = curentYear;
		</script>
</body>
</html>