<h1 class="text-align-center margin-bottom-50">Category Management</h1>
<div class="row row-margin-ignore color-black">
	<loader ng-if="isDataLoading"></loader>

	<div ng-repeat="category in categories | orderBy:'id'" class="row row-margin-ignore margin-bottom-5">
		
		<div class="col-xs-3">
			<input type="text" ng-model="category.name">
		</div>

		<div class="col-xs-3">
			<button class="btn btn-primary" ng-click="updateCategory(category.id)">Save</button>
			<button class="btn btn-danger" ng-click="deleteCategory(category.id)" ng-disabled="!category.canBeDeleted">Delete</button>
		</div>

	</div>

	<div class="row row-margin-ignore">
		<div class="col-xs-3">
			<input type="text" ng-model="newCategory.name" placeholder="New category">
		</div>

		<div class="col-xs-3">
			<button class="btn btn-primary" ng-click="createCategory()">Create</button>
		</div>
	</div>
</div>