<div id="welcome-message" class="row row-margin-ignore">
	<p>
		Congratulations, you've taken your first step toward personal independence!
	</p>
	<p>
		Here you can find helpful articles about life. 
	</p>
	<p>
		Enjoy your stay!
	</p>
	<img src="../images/cartoonCharacter.jpg" alt="">

	<div id="statistics" ng-if="articlesChart.series.length > 0">
		<highcharts-element options="articlesChart" chart-version="articlesChart.version"></highcharts-element>
	</div>
</div>